<div class="row">
    <div class="col-md-12">

        {{!We can access the properties of the "context" object we supplied, like so. Two braces will escape the value, three braces
        will not.}}
        <p>The message, escaped: {{message}}</p>
        <p>The message, NOT escaped: {{{message}}}</p>
        <p>Hi, my name is {{thePerson.name}}!</p>

        <hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{!We can easily access child properties too, like so:}}
                    <td>{{thePerson.name}}</td>
                    <td>{{thePerson.address}}</td>
                    <td>{{thePerson.phNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>