<ul>
    <li>Jarvis Dams</li>
    <li>21 Some Street</li>
    <li>027 890 1234</li>
</ul>
    {{#if hobbies}}
<p>I like {{hobby}} on the weekend</p>
    {{else}}
    <p>I like to do nothing on the weekend</p>
    {{/if}}
<ul>
    {{#if hobbies}}
    {{#each hobbies}}
    <li>{{@index}} : {{this}}</li>
    {{/each}}
    {{else}}
    <li>I have no hobbies</li>
    {{/if}}
</ul>