<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Contact Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>{{name}}</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Phone Numbers</th>
                            <td>
                                {{!Looping through an array using Handlebars}}
                                <ul>
                                    {{#each phoneNumbers}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:{{email}}">{{email}}</a></td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="{{website}}">{{website}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>