<div class="row">
    <div class="col-md-6">

        <div class="card mb-2">
            <h5 class="card-header card-title">
                My Profile
            </h5>
            <div class="card-body">
                <p><img class="img-fluid mx-auto d-block" src="images/{{profilePic}}"></p>
                <table class="table table-striped">
                    <tr><th>Name</th><td>{{name}}</td></tr>
                    <tr><th>Phone Number</th><td>{{phoneNumber}}</td></tr>
                    <tr><th>Email</th><td><a href="mailto:{{email}}">{{email}}</a></td></tr>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        
        <div class="card mb-2">
            <h5 class="card-header card-title">
                About Me
            </h5>
            <div class="card-body">
                <p class="card-text">{{aboutMe}}</p>
            </div>
        </div>
    </div>
</div>