<div class="row">
    <div class="col-md-12">

        {{!If there are people, display them in a table.}}
        {{#if people}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {{!Loop through the people array and render each one as a row in the table.}}
                {{#each people}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{phNumber}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{!Render a different message if there are no people.}}
        {{else}}
        <p>There are no people :(</p>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            {{#each stuff}}

            <li>{{name}}
                <ul>
                    {{#each values}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</div>